<p> add event </p>

<form action = "/events/create" method="POST">

	Event name:<br>
	<input type="text" name="name"><br>

	Description:<br>
	<input type="textarea" name="description"><br>

	Price: <br>
	<input type="text" name="price"><br><br>

	<input type="submit" value="submit">

</form>