<!DOCTYPE html>

<html>

<head>
</head>

<body>

		<% if(isLogged) { %>

			<a href="/users/logout"> logout </a>
			<hr>
			<% include eventForm.ejs %>
			<% include eventContainer.ejs %>

		<% } else { %>
			
			<% include registerForm.ejs %>
			<hr>
			<% include loginForm.ejs %>

		<% } %>

</body>

</html>