<p> register </p>

<form action = "/users/register" method="post">

	Username:<br>
	<input type="text" name="username"><br>

	Password:<br>
	<input type="text" name="password"><br>

	<input type="submit" value="submit">

</form>