<p> search </p>

<form action = "/events/search" method="get">

	search term: <br>
	<input type="text" name="term"> <br>

	show free events:
	<input type="checkbox" name="free"> <br>

	<input type="submit" name="submit">

</form>